@page
@model JRPC_HMS.Pages.Catalog.ProductDetailsModel
@{
    ViewData["Title"] = "Details";
}

<section class="content-header">
    <h1>
        Category Details
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Catalog</li>
        <li><a href="/Catalog/ProductIndex">Products</a></li>
        <li class="active">Details</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="text-right">
        <a asp-page="./ProductIndex" class="btn btn-primary" title="Back">
            <i class="fas fa-arrow-left"></i>
        </a>
        <a asp-page="./ProductEdit" asp-route-id="@Model.Product.Product_ID" class="btn btn-success" title="Edit">
            <i class="far fa-edit"></i>
        </a>
    </div>
    <br />
    <!-- Default box -->
        <div class="box box-primary">
            <div class="box-body">
                <table class="table">
                    <tr>
                        <th>Product Name</th>
                        <td>@Model.Product.ProductName</td>
                    </tr>
                    <tr>
                        <th>Product Short Description</th>
                        <td>@Model.Product.ProductShortDescription</td>
                    </tr>
                    <tr>
                        <th>Product Detailed</th>
                        <td>@Model.Product.ProductDetailedDescription</td>
                    </tr>
                    <tr>
                        <th>Selling Price</th>
                        <td>R @Model.Product.SellingPrice</td>
                    </tr>
                    <tr>
                        <th>Cost Price</th>
                        <td>R @Model.Product.CostPrice</td>
                    </tr>
                    <tr>
                        <th>Profit Margin</th>
                        <td>R @Model.Product.ProfitMargin</td>
                    </tr>
                    <tr>
                        <th>Image</th>
                        <td><img src="@Model.Product.ImageUrl" style="height:100px;width:auto;" /></td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td>@Model.Categories.FirstOrDefault(c => c.Cat_ID == Model.Product.Cat_ID).CategoryName</td>
                    </tr>
                    <tr>
                        <th>Stock for Product</th>
                        <td>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Stock</th>
                                        <th>Quantity Use</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var stock in Model.StockToProductStockItems)
                                    {
                                        <tr>
                                            <td>@stock.StockName</td>
                                            <td>@stock.Quantity</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    <!-- /.box -->
</section>
<!-- /.content -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}