@page
@model JRPC_HMS.Pages.Catalog.ProductIndexModel
@{
    ViewData["Title"] = "Products";
}

<style>
    table.table th a {
        text-decoration: none;
        color: #FFFFFF;
    }

        table.table th a:hover {
            text-decoration: none;
            color: #FFFFFF;
        }

    .pagesizeddl {
        border: 0;
        font-weight: 900;
    }
</style>

@section Styles {
    <!-- iCheck -->
    <link rel="stylesheet" href="~/libs/icheck/skins/flat/blue.css">
}
@section Scripts {
    <!-- iCheck -->
    <script src="~/libs/icheck/icheck.min.js"></script>
    <!-- Page Script -->
    <script>
        $(function () {
            //Enable iCheck plugin for checkboxes
            //iCheck for checkbox and radio inputs
            $('.mailbox-messages input[type="checkbox"]').iCheck({
                checkboxClass: 'icheckbox_flat-blue',
                radioClass: 'iradio_flat-blue'
            });

            //Enable check and uncheck all functionality
            $(".checkbox-toggle").click(function () {
                var clicks = $(this).data('clicks');
                if (clicks) {
                    //Uncheck all checkboxes
                    $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
                    $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
                } else {
                    //Check all checkboxes
                    $(".mailbox-messages input[type='checkbox']").iCheck("check");
                    $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
                }
                $(this).data("clicks", !clicks);
            });
        });
    </script>
}

<section class="content-header">
    <h1>
        Products
        <small>@Model.Count Products</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Catalog</li>
        <li class="active">Products</li>
    </ol>
</section>

<section class="content">
    <form asp-page="./ProductIndex" method="post" name="pageSizeForm">
        <div class="box box-primary">
            <div class="box-header with-border">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" placeholder="Search" asp-for="SearchString">
                                <span class="input-group-btn">
                                    <button type="submit" asp-route-currentpage="@Model.CurrentPage" asp-route-sortOrder="@Model.CurrentSort" asp-route-pageSize="@Model.PageSize" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="pull-right">
                                <div class="form-group">
                                    <label asp-for="PageSize">Displaying</label>
                                    <select asp-for="PageSize" asp-items="Model.PageSizeList" class="pagesizeddl" onchange="DoPostBack();"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body no-padding">
                <div class="mailbox-controls">
                    <!-- Check all button -->
                    <button type="button" class="btn btn-default btn-sm checkbox-toggle" title="Selected All">
                        <i class="fa fa-square-o"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger btn-sm" title="Delete Selected"
                                asp-route-pageSize="@Model.PageSize"
                                asp-route-sortOrder="@Model.CurrentSort"
                                asp-route-currentpage="@Model.CurrentPage">
                            <i class="fa fa-trash-o"></i>
                        </button>
                        <a asp-page="./ProductCreate" class="btn btn-success btn-sm" title="Create">
                            <i class="fas fa-plus"></i>
                        </a>
                        <button type="submit" class="btn btn-primary btn-sm" id="btnExport" title="Export"
                                asp-page-handler="Export"
                                asp-route-searchString="@Model.SearchString"
                                asp-route-pageSize="@Model.PageSize"
                                asp-route-sortOrder="@Model.CurrentSort"
                                asp-route-currentpage="@Model.CurrentPage">
                            <i class="far fa-file-excel"></i>
                        </button>
                    </div>
                    <!-- /.btn-group -->
                    <a asp-page="/Catalog/ProductIndex" class="btn btn-default btn-sm" title="Refresh">
                        <i class="fa fa-refresh"></i>
                    </a>
                    <div class="pull-right">
                        <div class="btn-group">
                            <a asp-route-searchString="@Model.SearchString"
                               asp-route-pageSize="@Model.PageSize"
                               asp-route-sortOrder="@Model.CurrentSort"
                               asp-route-currentPage="1"
                               aria-label="First" class="btn btn-primary btn-sm @(Model.EnablePrevious ? " " : " disabled" )">
                                <i class="fas fa-angle-double-left"></i>
                            </a>
                            <a asp-route-searchString="@Model.SearchString"
                               asp-route-pageSize="@Model.PageSize"
                               asp-route-sortOrder="@Model.CurrentSort"
                               asp-route-currentPage="@(Model.CurrentPage -1)"
                               aria-label="Previous" class="btn btn-primary btn-sm @(Model.EnablePrevious ? " " : " disabled" )">
                                <i class="fas fa-angle-left"></i>
                            </a>
                            @for (var i = 1; i <= Model.TotalPages; i++)
                            {
                                <a asp-route-searchString="@Model.SearchString"
                                   asp-route-currentPage="@(i)"
                                   asp-route-sortOrder="@Model.CurrentSort"
                                   asp-route-pageSize="@Model.PageSize" class="btn btn-default btn-sm @(i == Model.CurrentPage ? "active" : "")">@i</a>
                            }
                            <a asp-route-searchString="@Model.SearchString"
                               asp-route-pageSize="@Model.PageSize"
                               asp-route-sortOrder="@Model.CurrentSort"
                               asp-route-currentpage="@(Model.CurrentPage + 1)"
                               aria-label="Next" class="btn btn-primary btn-sm @(Model.EnableNext ? " " : " disabled" )">
                                <i class="fas fa-angle-right"></i>
                            </a>
                            <a asp-route-searchString="@Model.SearchString"
                               asp-route-pageSize="@Model.PageSize"
                               asp-route-sortOrder="@Model.CurrentSort"
                               asp-route-currentpage="@Model.TotalPages"
                               aria-label="Last" class="btn btn-primary btn-sm @(Model.EnableNext ? " " : " disabled" )">
                                <i class="fas fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive mailbox-messages">
                    <table class="table">
                        <thead class="bg-primary">
                            <tr>
                                <th width="80"></th>
                                <th width="80">
                                    @Html.DisplayNameFor(model => model.Products[0].ImageUrl)
                                </th>
                                <th>
                                    <a asp-route-sortOrder="@Model.ProductSort"
                                       asp-route-pageSize="@Model.PageSize"
                                       asp-route-currentpage="@Model.CurrentPage">
                                        Product Name&nbsp;&nbsp;
                                        <i class="fas fa-sort"></i>
                                    </a>
                                </th>
                                <th>
                                    Product Short Description
                                </th>
                                <th>
                                    Product Detailed Description
                                </th>
                                <th width="150">
                                    <a asp-route-sortOrder="@Model.SellingSort"
                                       asp-route-pageSize="@Model.PageSize"
                                       asp-route-currentpage="@Model.CurrentPage">
                                        Selling Price&nbsp;&nbsp;
                                        <i class="fas fa-sort"></i>
                                    </a>
                                </th>
                                <th width="150">
                                    <a asp-route-sortOrder="@Model.CostSort"
                                       asp-route-pageSize="@Model.PageSize"
                                       asp-route-currentpage="@Model.CurrentPage">
                                        Cost Price&nbsp;&nbsp;
                                        <i class="fas fa-sort"></i>
                                    </a>
                                </th>
                                <th width="150">
                                    <a asp-route-sortOrder="@Model.ProfitSort"
                                       asp-route-pageSize="@Model.PageSize"
                                       asp-route-currentpage="@Model.CurrentPage">
                                        Profit Margin&nbsp;&nbsp;
                                        <i class="fas fa-sort"></i>
                                    </a>
                                </th>
                                <th width="150">
                                    <a asp-route-sortOrder="@Model.CategorySort"
                                       asp-route-pageSize="@Model.PageSize"
                                       asp-route-currentpage="@Model.CurrentPage">
                                        Categories&nbsp;&nbsp;
                                        <i class="fas fa-sort"></i>
                                    </a>
                                </th>
                                <th width="100">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Products)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox" name="DeleteProducts" value="@item.ProductName" />
                                    </td>
                                    <td>
                                        <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" style="height:50px; width:auto;" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductShortDescription)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductDetailedDescription)
                                    </td>
                                    <td>
                                        R @Html.DisplayFor(modelItem => item.SellingPrice)
                                    </td>
                                    <td>
                                        R @Html.DisplayFor(modelItem => item.CostPrice)
                                    </td>
                                    <td>
                                        R @Html.DisplayFor(modelItem => item.ProfitMargin)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.AllCategories.FirstOrDefault(c => c.Cat_ID == item.Cat_ID).CategoryName)
                                    </td>
                                    <td>
                                        <a asp-page="./ProductEdit" asp-route-id="@item.Product_ID" class="btn btn-primary btn-xs text-right"><i class="far fa-edit"></i></a>
                                        <a asp-page="./ProductDetails" asp-route-id="@item.Product_ID" class="btn btn-primary btn-xs text-right"><i class="far fa-eye"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box-footer no-padding">
                <div class="mailbox-controls">
                    <!-- Check all button -->
                    <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                        <i class="fa fa-square-o"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger btn-sm" title="Delete Selected"
                                asp-route-pageSize="@Model.PageSize"
                                asp-route-sortOrder="@Model.CurrentSort"
                                asp-route-currentpage="@Model.CurrentPage">
                            <i class="fa fa-trash-o"></i>
                        </button>
                        <a asp-page="./ProductCreate" class="btn btn-success btn-sm" title="Create">
                            <i class="fas fa-plus"></i>
                        </a>
                        <button type="submit" class="btn btn-primary btn-sm" id="btnExport" title="Export"
                                asp-page-handler="Export"
                                asp-route-searchString="@Model.SearchString"
                                asp-route-pageSize="@Model.PageSize"
                                asp-route-sortOrder="@Model.CurrentSort"
                                asp-route-currentpage="@Model.CurrentPage">
                            <i class="far fa-file-excel"></i>
                        </button>
                    </div>
                    <!-- /.btn-group -->
                    <a asp-page="/Catalog/ProductIndex" class="btn btn-default btn-sm">
                        <i class="fa fa-refresh"></i>
                    </a>
                    <div class="pull-right">
                        <div class="btn-group">
                            <a asp-route-searchString="@Model.SearchString"
                               asp-route-pageSize="@Model.PageSize"
                               asp-route-sortOrder="@Model.CurrentSort"
                               asp-route-currentPage="1"
                               aria-label="First" class="btn btn-primary btn-sm @(Model.EnablePrevious ? " " : " disabled" )">
                                <i class="fas fa-angle-double-left"></i>
                            </a>
                            <a asp-route-searchString="@Model.SearchString"
                               asp-route-pageSize="@Model.PageSize"
                               asp-route-sortOrder="@Model.CurrentSort"
                               asp-route-currentPage="@(Model.CurrentPage -1)"
                               aria-label="Previous" class="btn btn-primary btn-sm @(Model.EnablePrevious ? " " : " disabled" )">
                                <i class="fas fa-angle-left"></i>
                            </a>
                            @for (var i = 1; i <= Model.TotalPages; i++)
                            {
                                <a asp-route-searchString="@Model.SearchString"
                                   asp-route-currentPage="@(i)"
                                   asp-route-sortOrder="@Model.CurrentSort"
                                   asp-route-pageSize="@Model.PageSize" class="btn btn-default btn-sm @(i == Model.CurrentPage ? "active" : "")">@i</a>
                            }
                            <a asp-route-searchString="@Model.SearchString"
                               asp-route-pageSize="@Model.PageSize"
                               asp-route-sortOrder="@Model.CurrentSort"
                               asp-route-currentpage="@(Model.CurrentPage + 1)"
                               aria-label="Next" class="btn btn-primary btn-sm @(Model.EnableNext ? " " : " disabled" )">
                                <i class="fas fa-angle-right"></i>
                            </a>
                            <a asp-route-searchString="@Model.SearchString"
                               asp-route-pageSize="@Model.PageSize"
                               asp-route-sortOrder="@Model.CurrentSort"
                               asp-route-currentpage="@Model.TotalPages"
                               aria-label="Last" class="btn btn-primary btn-sm @(Model.EnableNext ? " " : " disabled" )">
                                <i class="fas fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<script>
    function DoPostBack() {
        document.pageSizeForm.action = "/Catalog/ProductIndex";
        document.pageSizeForm.submit();
    }
</script>