@page
@model InboxModel
@{
    ViewData["Title"] = "Inbox";
}

@section Styles {
    <!-- iCheck -->
    <link rel="stylesheet" href="~/libs/icheck/skins/flat/blue.css">
}

@section Scripts {
    <!-- iCheck -->
    <script src="~/libs/icheck/icheck.min.js"></script>
    <!-- Page Script -->
    <script>
        $(function () {
            //Enable iCheck plugin for checkboxes
            //iCheck for checkbox and radio inputs
            $('.mailbox-messages input[type="checkbox"]').iCheck({
                checkboxClass: 'icheckbox_flat-blue',
                radioClass: 'iradio_flat-blue'
            });

            //Enable check and uncheck all functionality
            $(".checkbox-toggle").click(function () {
                var clicks = $(this).data('clicks');
                if (clicks) {
                    //Uncheck all checkboxes
                    $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
                    $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
                } else {
                    //Check all checkboxes
                    $(".mailbox-messages input[type='checkbox']").iCheck("check");
                    $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
                }
                $(this).data("clicks", !clicks);
            });

            //Handle starring for glyphicon and font awesome
            $(".mailbox-star").click(function (e) {
                e.preventDefault();
                //detect type
                var $this = $(this).find("a > i");
                var glyph = $this.hasClass("glyphicon");
                var fa = $this.hasClass("fa");

                //Switch states
                if (glyph) {
                    $this.toggleClass("glyphicon-star");
                    $this.toggleClass("glyphicon-star-empty");
                }

                if (fa) {
                    $this.toggleClass("fa-star");
                    $this.toggleClass("fa-star-o");
                }
            });
        });
    </script>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Mailbox
        <small>@Model.InboxFolder.Unread new messages</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Mailbox</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <form method="post">
        <div class="row">
            <div class="col-md-3">
                <a href="~/Mail/Compose" class="btn btn-primary btn-block margin-bottom">Compose</a>
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Folders</h3>
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            @foreach (var folder in Model.Folders)
                            {
                                <li>
                                    <a href="#">
                                        <i class="fa fa-envelope-o"></i> @folder.Name
                                        @if (folder.Unread < 0)
                                        {
                                            <span class="label label-primary pull-right">@folder.Unread</span>
                                        }
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /. box -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Inbox</h3>
                        <div class="box-tools pull-right">
                            <div class="has-feedback">
                                <input type="text" class="form-control input-sm" placeholder="Search Mail">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="mailbox-controls">
                            <!-- Check all button -->
                            <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                                <i class="fa fa-square-o"></i>
                            </button>
                            <div class="btn-group">
                                <button type="submit" class="btn btn-default btn-sm" asp-route-pageSize="@Model.PageSize" asp-route-currentpage="@Model.CurrentPage"><i class="fa fa-trash-o"></i></button>
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                            </div>
                            <!-- /.btn-group -->
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                            <div class="pull-right">
                                @Model.EmailMessages.Count
                                <div class="btn-group">
                                    <a class="btn btn-default btn-sm @(Model.EnablePrevious ? " " : " disabled" )" aria-label="Previous"
                                            asp-route-pageSize="@Model.PageSize"
                                            asp-route-currentPage="@(Model.CurrentPage -1)">
                                        <i class="fa fa-chevron-left"></i>
                                    </a>
                                    <a class="btn btn-default btn-sm @(Model.EnableNext ? " " : " disabled" )" aria-label="Next"
                                            asp-route-pageSize="@Model.PageSize"
                                            asp-route-currentpage="@(Model.CurrentPage + 1)">
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </div>
                                <!-- /.btn-group -->
                            </div>
                            <!-- /.pull-right -->
                        </div>
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped">
                                <tbody>
                                    @foreach (var mail in Model.EmailMessages)
                                    {
                                        <tr>
                                            <td>
                                                <a asp-page="./Read" asp-route-messageId="@mail.MessageId">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td width="5%"><input type="checkbox" name="DeleteMail" value="@mail.MessageId"></td>
                                                                <td width="35%" class="mailbox-name">
                                                                    @foreach (var address in mail.FromAddresses)
                                                                    {
                                                                        @address.Name;
                                                                    }
                                                                </td>
                                                                <td width="35%" class="mailbox-subject">@mail.Subject</td>
                                                                <td width="5%" class="mailbox-attachment"></td>
                                                                <td width="20%" class="mailbox-date">@mail.MailDate</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- /.table -->
                        </div>
                        <!-- /.mail-box-messages -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer no-padding">
                        <div class="mailbox-controls">
                            <!-- Check all button -->
                            <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                                <i class="fa fa-square-o"></i>
                            </button>
                            <div class="btn-group">
                                <button type="submit" class="btn btn-default btn-sm" asp-route-pageSize="@Model.PageSize" asp-route-currentpage="@Model.CurrentPage"><i class="fa fa-trash-o"></i></button>
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                            </div>
                            <!-- /.btn-group -->
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                            <div class="pull-right">
                                @Model.EmailMessages.Count
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm @(Model.EnablePrevious ? " " : " disabled" )" aria-label="Previous"
                                            asp-route-pageSize="@Model.PageSize"
                                            asp-route-currentPage="@(Model.CurrentPage -1)">
                                        <i class="fa fa-chevron-left"></i>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm @(Model.EnableNext ? " " : " disabled" )" aria-label="Next"
                                            asp-route-pageSize="@Model.PageSize"
                                            asp-route-currentpage="@(Model.CurrentPage + 1)">
                                        <i class="fa fa-chevron-right"></i>
                                    </button>
                                </div>
                                <!-- /.btn-group -->
                            </div>
                            <!-- /.pull-right -->
                        </div>
                    </div>
                </div>
                <!-- /. box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </form>
</section>
<!-- /.content -->